@media (max-width: 768px) {
  .menu_icon {
    display: block;
  }

  nav {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: #2f3640;
    padding: 20px;
  }
  
  nav.active {
    display: flex;
  }
}

@media (max-width: 600px) {
  .footer_container {
    flex-direction: column;
  }
}